<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title ? title : 'Brindaria' %></title>
    <meta name="description" content="<%= locals.description || 'Arte Sacra e Itens Personalizados' %>">

    <!-- Otimização de carregamento -->
    <link rel=preconnect href="https://www.googletagmanager.com">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com">

    <link rel="stylesheet" href="/css/styles.css" fetchpriority="high" loading="eager">
    
    <link rel="icon" type="image/png" href="/images/ICONE-brindaria.webp">

    <% if (locals.canonical) { %>
        <link rel="canonical" href="<%= locals.canonical %>" />
    <% } %>

    <!-- Meta Tags -->
    <% if (locals.ogTitle) { %>
        <meta property="og:title" content="<%= locals.ogTitle %>" />
    <% } %>
    <% if (locals.ogDescription) { %>
        <meta property="og:description" content="<%= locals.ogDescription %>" />
    <% } %>
    <% if (locals.ogImage) { %>
        <meta property="og:image" content="<%= locals.ogImage %>" />
    <% } %>
     <% if (locals.ogURL) { %>
        <meta property="og:url" content="<%= locals.canonical %>" />
    <% } %>
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:type" content="website" />
    <meta property="fb:app_id" content="893516300022423" />

    <% if (!locals.isAdmin) { %>
    <!-- Google Analytics (Apenas para visitantes não logados) -->
         <script async src="https://www.googletagmanager.com/gtag/js?id=G-HED268W2BG" fetchpriority="low" loading="lazy"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-HED268W2BG');
        </script>
    <% } %>

</head>
<body class="bg-gray-50 text-gray-800 font-sans antialiased flex flex-col min-h-screen">

    <% if (!locals.hideHeader) { %>
        <%- include('../partials/header') %>
    <% } %>

    <main class="flex-grow">